# Created by .ignore support plugin (hsz.mobi)
.idea/
.python-version
.vscode
.core/__pycache__
.GUI/__pycache__
.__pycache__
network.py
networkTD.py
.DS_Store
core/.DS_Store
GUI/.DS_Store
.__pycache__
